body {

}
.btn {
    background-color: #BCE0A1;
    border: solid black 1px;
    color: black;
    font-weight:500;
}
    .btn:hover {
        background-color: #7D956B;
    }

    .btn1:hover {
        background-color: grey;
    }
form {
    border: solid 1px;
    padding: 3%;
    background: red;
}

.navbar {
    font-size: 20px !important;
}

.test {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color:red;
}
